.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tree{
 text-align: left
}

.MuiTreeItem-label{
 padding-left: 25px;
}

.console{
  border: 1px solid black;
  overflow: hidden;
}

.structureTree{
  width: 50%;
  float:left;
}

.itemDetails{
  color:green;
  width: 50%;
  overflow: hidden;
}

.styledTreeItem .MuiTreeItem-group{
  border-left: gray;
  border-left: dashed;
  border-width: 1px;
  padding-left: 8px;
  margin-left: 8px;
  height: 10px;;
}

.styledTreeItem .checkbox{
  height: 10px;
}